{% extends 'layout.html' %}
{% block content %}
<div class="register">
    <h1>Add Your Favorite Handles Here - Twitter Feed</h1>

    <!-- {% csrf_token %} -->
    <div class="form-outline" style="margin: 2% 2%">
        <input type="text" id="id_handles" class="form-control" placeholder="Search Twitter Users"/>
    </div>
    <!-- <span><input type="submit" name="submit" value="Save" /></span> -->
    <input type="button" id="search-users" value="Search users" onclick="searchUsers()" disabled/><br>

    <div id="results" style="visibility: hidden;">
        <h4 style="text-align: center;">User search results:</h4><br>
        <div id="userResults"></div>
    </div>
</div>
{% endblock %}