{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Feed</title>
    <link rel="icon" href="{% static 'livefeed/logo.jpeg' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'livefeed/custom.css' %}">
    <script type="text/javascript" src="{% static 'livefeed/main.js' %}"></script>
    <!-- js library -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
    <!-- twitter widget -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- Latest compiled JavaScript bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/feed">Twitter Feed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div style="display: inline; float:right; text-align: center;" class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>